*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    background-color: #23055a;
    color: #374151;
    display: flex;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 1028px;
    padding: 44px;
    margin: 5%;
}

.form__group {
    display: inline-block;
    width: 33%;
    padding: 20px;
}

.form__standart {
    background: #ffffff;
    border: 1px solid #d2d6db;
    border-radius: 6px;
    padding: 8px;
    height: 50px;
    min-width: 295px;
}

.textarea {
    height: 140px !important;
    max-width: 900px;
    min-width: 50%;
    border-radius: 15px;
}

button {
    padding: 16px 24px;
    color: #ffff;
    border: 1px solid #d2d6db;
    background-color: #9c0a0a;
    border-radius: 20px;
    width: 900px;
    height: 100px;
}